.container {
    width: 100%;
    padding: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 5px;
    }
    .header {
        font-size: 24px;
    }
    .nav {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .header {
        font-size: 28px;
    }
}

@media (min-width: 801px) {
    .header {
        font-size: 32px;
    }
    .nav {
        display: block;
    }
}